.login {
  height: 100%;
  background: rgb(10, 97, 145);
  background: linear-gradient(90deg, rgba(10, 97, 145, 1) 3%, rgba(15, 117, 138, 1) 34%, rgba(39, 180, 120, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  height: 60%;
  width: 40%;
  text-align: center;
}

.logo {
  height: 9rem;
  margin-bottom: 1rem;
}

mat-form-field {
  width: 60%;
  margin-top: 1rem;
}

.mat-mdc-form-field-error-wrapper {
  background-color: transparent;
}

.bottom {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.bottom-actions {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  width: 60%;
}

.bottom-actions a {
  display: flex;
  align-self: center;
  text-decoration: none;
  color: #fff;
}

.mdc-form-field label {
  color: #fff !important;
}

.mat-mdc-form-field-error {
  color: #eee
}

.mat-mdc-outlined-button {
  width: 20%;
  margin-top: 2rem;
}

.mat-mdc-outlined-button[disabled] {
  border-color: #ddd;
  color: #ddd;
  --mdc-outlined-button-disabled-outline-color: #ddd;
}

.mat-mdc-outlined-button:not(:disabled) {
  border-color: #fff;
  color: #fff;
  --mdc-outlined-button-disabled-outline-color: #fff;
}

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-checkmark-color: #000;
  --mdc-checkbox-selected-focus-icon-color: #fff;
  --mdc-checkbox-selected-hover-icon-color: #fff;
  --mdc-checkbox-selected-icon-color: #fff;
  --mdc-checkbox-selected-pressed-icon-color: #fff;
  --mdc-checkbox-unselected-focus-icon-color: #fff;
  --mdc-checkbox-unselected-hover-icon-color: #fff;
  --mdc-checkbox-disabled-selected-icon-color: #fff;
  --mdc-checkbox-disabled-unselected-icon-color: #fff;
  --mdc-checkbox-unselected-icon-color: #fff;
  --mdc-checkbox-unselected-pressed-icon-color: #fff;
}