<section class="login">
  <div class="login-form">
    <img src="./assets/images/logo.svg" alt="Melita Logo" class="logo" />
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username" />
        <mat-error *ngIf="loginForm.get('username')?.invalid">{{getErrorMessage(loginForm.get('username'))}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
        <button type="button" mat-icon-button matSuffix (click)="togglePassword()" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.invalid">{{getErrorMessage(loginForm.get('password'))}}
        </mat-error>
      </mat-form-field>

      <div class="bottom">
        <div class="bottom-actions">
          <mat-checkbox class="remember-me" checked>Remember me?</mat-checkbox>
          <a [routerLink]="[ '/login' ]">Forgot Password?</a>
        </div>
      </div>

      <button mat-stroked-button type="submit" [disabled]="loginForm.invalid || loading">
        <span *ngIf="!loading">Login</span>
        <mat-icon class="spin" *ngIf="loading">refresh
        </mat-icon>
      </button>
    </form>
  </div>
</section>