<section class="home">
  <div class="top">
    <button mat-raised-button type="button" (click)="logout()">
      Logout
    </button>
  </div>

  <div class="services">
    <div class="wrapper">
      <h1>Offers and Subscriptions</h1>

      <div *ngIf="offers.length > 0; else loading">
        <mat-card *ngFor="let item of offers">
          <a [routerLink]="[ '/offer', item.id]">
            <mat-card-content>
              {{item.name}}
            </mat-card-content>
          </a>
        </mat-card>
      </div>

      <ng-template #loading>
        <app-loader></app-loader>
      </ng-template>

    </div>
  </div>
</section>